body {
    background-image: url("img/city_backdrop.jpg") ;
}

.content {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(206, 197, 197);
    padding: 20px;
    width: 100%;
    box-shadow: 0 0 10px 2px;
}

.header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    text-shadow: 2px 2px 5px blue;
}

#intro {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

#questionContainer {
    width: 100%;
}

#question {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-bottom: 10px;
}

.btn {
    border: 2px outset rgb(235, 223, 65);
    background-color: rgb(243, 245, 130);
    font-weight: bold;
}

#start-btn, #next-btn, #high-score-btn {
    margin-top: 10px;
    padding: 10px 20px;
    margin-left: 43%;
}

.hide {
    display: none;
} 